.characters-list {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    gap: 18px;
    list-style: none;
    justify-content: space-evenly;
    margin: 0;
  
    .characters-list-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 8px;
      max-width: 150px;
      text-align: center;
      border-radius: 8px;
  
      img {
        height: 200px;
        width: 150px;
        border-radius: 8px;
        object-fit: cover;
        border: 2px solid $black;
      }
  
      .character-name {
        font-size: 0.9rem;
        font-weight: bold;
        color: $black;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 150px;
      }
    }
  }
  